{% extends "base.html.twig" %}

{% block title %} - accueil{% endblock %}

{% block content %}

            <div id="logoGarage">
                <a id="linkAccueil" href="#">home</a>
                <br><br>
            </div>







{% endblock %}