{% extends "base.html.twig" %}

{% block title %} - pass_perdu{% endblock %}

{% block content %}

<p id"bienvenueClient" class="text-danger">Bienvenue {{ session.pseudo }}</p>
<p class="text-danger">MENU-ARTICLE-TECHNIQUE</p>



{% endblock %}