{% extends "base.html.twig" %}

{% block title %} - pass_perdu{% endblock %}

{% block content %}

<p id"bienvenueClient" class="text-danger">Bienvenue {{ session.pseudo }}</p>
<p>IMPRESSIONS-3D</p>



{% endblock %}