{% extends "base.html.twig" %}

{% block title %} - Mentions Legal{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="src/css/style.css">


    <div id="mentions_legal">
            <p>Article 1 : Editeur du site 
            Le présent site WWW.HONDA#REF.FR dénomé HONDA#REF est édité par monsieur BARBIERE SEBASTIEN<br><br>
            Le directeur de la publication est Monsieur BARBIERE SEBASTIEN<br> Contact par mail : seb.barbiere@outlook.fr<br><br>
            Le site HONDA#REF ainsi que l’ensemble de son contenu est régis par le droit français <br> tout litige éventuel sera soumis à la compétence des tribunaux français. 
            <br><br>Le serveur du site est hébergé par<br><br><br>
            Article 2 : Conditions d’utilisation 
            Conditions d’utilisation du site 
            Cette page reprend les mentions légales s’appliquant à tout internaute qui utilise le site HONDA#REF. En visitant le site HONDA#REF, vous acceptez ces mentions légales dans leur intégralité, et vous vous engagez à les respecter. 
            HONDA#REF se réserve le droit de modifier les conditions d’utilisation du service, vous êtes donc invité à consulter régulièrement les mentions légales.
            Conditions d’utilisation du forum 
            Lors de la création d’un compte, vous acceptez, dans leur intégralité, les conditions d’utilisation de ce site. Chaque inscrit doit être âgé d’au moins 13 ans. Si vous êtes mineur, vous devez disposer de l’autorisation de vos parents ou de votre représentant légal afin de créer et d’utiliser un compte.        
            Vous êtes invité(e), dans chaque forum, à créer un nouveau sujet de discussion en relation avec le thème abordé, et à répondre aux contributions publiées. 
            Une fois saisi votre pseudonyme et votre mot de passe, le forum vous est ouvert. Chaque forum porte sur un thème précis. Nous vous prions de respecter ces thèmes.  
            Le membre s’engage à ne pas : 
            porter atteinte aux mineurs
            faire la promotion d’activités illégales ou violentes
            ne pas soumettre de contenus potentiellement illicites, diffamants, injurieux, obscènes, discriminatoires, menaçants ou contraires à l’esprit du site ou à la charte de nos forums lors de la rédaction d’une réaction ou un message sur le forum
            collecter les données d’autres membres en vue de créer une base de données
            harceler un autre membre
            utiliser le compte d'un autre membre (le membre en question est responsable de la non divulgation de ses identifiants)
            utiliser de manière frauduleuse les codes d'accès de ce site 
            Vous êtes responsable des messages que vous laissez sur le forum, et ne devez en aucun cas diffuser des données dont vous n’êtes pas le propriétaire. 
            HONDA#REF se réserve le droit de supprimer un compte sans préavis ainsi que l’intégralité ou une partie des messages postés sur le forum qui ne respecterait pas les conditions d’utilisation. 
            HONDA#REF ne pourra en aucun cas être tenu pour responsable dans le cas où un membre ne respecterait pas ces clauses. 
            L’adresse e-mail renseignée dans le formulaire de création de compte doit être valide.<br><br> 
            Article 3 : Données personnelles <br><br>
            Chaque membre est responsable de la confidentialité de son identifiant et de son mot de passe. 
            Vos données personnelles ne seront utilisées que dans le cadre de la Newsletter, en sachant que vous pouvez à tout moment demander de ne plus la recevoir en envoyant un mail à . Occasionnellement, votre email de contact pourra etre utilisé pour faire la promotion d'une offre d'un de nos partenaires.
            HONDA#REF ne communiquera pas à ses partenaires les informations personnelles que vous pourriez nous communiquer. 
            Conformément à la loi "Informatique et Liberté" du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données personnelles qui vous concernent. Seules les données entrées dans votre profil sont considérées comme privées et vous donne accès à ces droits. 
            Pour cela, il suffit d'en faire la demande par email à :<br><br> 
            Article 4 : Propriété intellectuelle <br><br>
            Copyright : 
            Le contenu figurant sur les pages du site HONDA#REF est la propriété exclusive de HONDA#REF. 
            L'ensemble de ce site relève de la législation française sur le droit d'auteur et sur la propriété intellectuelle, aussi bien pour sa forme (organisation des données, plan, moyens d'accès aux données...), que pour son contenu (textes et images). 
            Vous vous engagez à ne pas utiliser ces contenus et à ne pas en autoriser l’utilisation, par une tierce personne, à des fins illégales. 
            En aucun cas, vous ne pourrez faire valoir vos droits d'auteur sur des contenus que vous avez écrit sur HONDA#REF. 
            Toute reproduction et rediffusion de tout ou partie de ces contenus sont soumises à l’autorisation préalable, écrite et expresse de HONDA#REF. Vous pouvez faire la demande de cette autorisation, en précisant le contenu que vous souhaitez reproduire et le support de reproduction envisagé, par mail à l’adresse suivante : 
            Les reproductions à but commercial ou publicitaire ne seront, sauf exception, pas autorisées.<br><br> 
            Article 5 : Cookies <br><br>
            Pour vous offrir des informations et des services personnalisés, le site www.HONDA#REF.fr utilise des « cookies », c'est-à-dire des fichiers adressés à votre navigateur qui permettent de suivre votre navigation. 
            Consultez notre page dédié aux cookies : http://www.HONDA#REF/cookies.html <br><br>
            Article 6 : Hyperliens <br><br>
            Le site www.HONDA#REF.fr autorise d'autres sites Internet à mettre en place un lien hypertexte pointant vers ses contenus (sous réserve de validation par les administrateurs du site). 
            Cette autorisation est valable pour tout site, à l'exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou susceptibles de porter atteinte à la sensibilité du plus grand nombre. 
            Tous les liens directs ou profonds vers un document autre qu’une page internet, nonobstant leur forme ou leur contenu, sont interdits, sauf autorisation expresse des éditeurs du site portail. 
            Cela inclut notamment, mais non exclusivement, tout document de type graphique (tels que .jpeg, .gif, .png), tout document multimédia ou animé (tel que .avi, .mov, .wmv, .flv, .swf, .ppt, .pps), tout document texte ou rédactionnel (tel que .txt, .doc, .docx, .rtf, .xls, .pdf), ainsi que tout autre document non lisible directement depuis un navigateur internet standard. 
            Nous vous invitons donc à ne pas faire pointer de lien directement vers les documents téléchargeables sur le site, mais vers les pages internet qui y renvoient.   
            L’autorisation pour l’établissement des liens visés au présent article doit être demandée par mail à l’adresse suivante . La demande doit obligatoirement mentionner l’adresse de la page (URL : Uniform Resource Locator, en français adresse universelle) où figurera le lien sur le site tiers.<br><br> 
            Article 8 : Disponibilité du site <br><br>
            HONDA#REF ne peut garantir un fonctionnement sans défaut de son site : il peut être affecté par des éléments que HONDA#REF ne contrôle pas. 
            HONDA#REF se réserve le droit de modifier ou d’interrompre le site sans préavis.</p>
    </div>

{% endblock %}