{% extends "base.html.twig" %}

{% block title %} - connection{% endblock %}



{% block content %}

<p class="text-danger">Bienvenue: <?php echo $pseudo; ?></p>
<canvas id="canvas"></canvas>
{% endblock %}
